apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: cloud-platform
spec:
  selector:
    app: keycloak
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30008  # ✅ Add this line
  type: NodePort  # ✅ Change from ClusterIP to NodePort
