apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: thingsboard-data-pvc
  namespace: cloud-platform
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
  volumeName: thingsboard-data-pv
